<ng-container *ngIf="tasks$ | async">
    <table class="table is-striped is-fullwidth">
        <thead>
            <tr>
                <th>ProcInstId</th>
                <th>TaskName</th>
                <th>Assignee</th>
                <th>CreateTime</th>
                <th>Action</th>
            </tr>

        </thead>

        <tbody>
            <tr *ngFor="let task of tasks$ | async">
                <td>{{ task.processInstanceId }}</td>
                <td>{{ task.name }}</td>
                <td>{{ task.assignee }}</td>
                <td>{{ task.createTime }}</td>
                <td>
                    <a [routerLink]="['/tasks', task.id]">Show</a> |
                    <a [routerLink]="['/tasks', task.id, task.taskDefinitionKey, 'edit']">
                        Edit
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</ng-container>
<ng-container  *ngIf="errorObservable | async">
    <pre>{{ errorMsg | json }}</pre>
 </ng-container>