<ng-container *ngIf="loaded === true">

    <app-task-header [task]="taskContainer?.taskProjection"></app-task-header>

    <form [formGroup]="orderFormGroup" *ngIf="loaded">
        <app-box>
            <div class="content">
                <h4 class="h4">Order</h4>
            </div>

            <div class="field">
                <label class="label" for="description">Description</label>
                <div class="control">
                    <input type="text" id="description" style="width: 70%" class="input" formControlName="description" />
                </div>
                <p class="help is-danger" *ngIf="description?.errors?.['required']">Description is required</p>
            </div>

            <div class="field">
                <label class="label" for="customerId">Customer Id</label>
                <div class="control">
                    <input type="number" id="customerId" style="width: 70%" class="input" formControlName="customerId">
                </div>
                <p class="help is-danger" *ngIf="customerId?.errors?.['required']">CustomerId is required</p>
                <p class="help is-danger" *ngIf="customerId?.errors?.['min'] || customerId?.errors?.['max']">CustomerId between 0 and 99999</p>
            </div>
        </app-box>

        <app-box>
            <div class="content">
                <h4 class="h4">Items</h4>
            </div>

            <div className="field is-grouped" style="margin-bottom: 10px">
                <button class="button is-link is-light" (click)="addItem()">
                    Add Item
                </button>
            </div>

            <div formArrayName="itemList">
                <p class="help is-danger" *ngIf="itemList?.errors?.['required']">Add at least 1 Item</p>

                <ng-container *ngFor="let itemControlGroup of itemControlsArray; let i=index">
                    <div class="field is-grouped" [formGroup]="itemControlGroup">
                        <div class="control">
                            <label *ngIf="i === 0" class="label">Name</label>
                            <input type="text" class="input" formControlName="productName" />
                            <p class="help is-danger" *ngIf="itemControlGroup.get('productName')?.errors?.['required']">Item Name is required</p>
                        </div>

                        <div class="control">
                            <label *ngIf="i === 0" class="label">Number</label>
                            <input type="number" class="input" formControlName="productNumber" />
                            <p class="help is-danger" *ngIf="itemControlGroup.get('productNumber')?.errors?.['required']">Item Number is required</p>
                        </div>

                        <p class="control">
                            <label *ngIf="i === 0" class="label has-text-centered">Action</label>
                            <button class="button is-link is-light" (click)="deleteItem(i)">
                                Delete
                            </button>
                        </p>
                    </div>
                </ng-container>
            </div>
        </app-box>

        <app-box>
            <div class="field is-grouped">
                <div class="control">
                    <a [routerLink]="['/tasks']" class="button is-link">Cancel</a>
                </div>
                <div class="control">
                    <button type="button" (click)="handleSubmit('Complete')" class="button is-success">
                        Complete
                    </button>
                </div>
            </div>
        </app-box>
    </form>
</ng-container>