<div class="columns">
    <div class="column"></div>
    <div class="column is-three-quarters" >
        <div class="card is-centered">
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <p class="title is-4">Workflow "Dummy"</p>
                        <p class="subtitle is-6">Create a new workflow instance and edit the first user task as an assignee.</p>
                    </div>
                    <div class="media-right">
                        <button (click)="create()" class="button is-success">Start</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="column"></div>
</div>